/*---------------------------------------------------------ANIMATIONS-----------------------------------------------------*/

.fade-in {
    animation: opac 0.8s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes opac {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}



.fade-in.one {
    -webkit-animation-delay: -0.2s;
    -moz-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.fade-in.two {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.fade-in.three {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}




.animate-left {
    position: relative;
    animation: animateleft 1s;
    -webkit-animation-fill-mode: forwards; 
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.animate-left.oone {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1.4s;
}

.animate-left.ttwo {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.animate-left.tthree {
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
@keyframes animateleft {
    from {
        left: -100px;
        opacity: 0;
    }

    to {
        left: 0;
        opacity: 1;
    }
}



.animate-right {
    position: relative;
    animation: animateright 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes animateright {
    from {
        right: -100px;
        opacity: 0
    }

    to {
        right: 0;
        opacity: 1
    }
}
.animate-right.ooone {
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.animate-right.tttwo {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.animate-right.ttthree {
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    animation-delay: 1.8s;
}



/*---------------------------------------------------------//ANIMATIONS-----------------------------------------------------*/



.opzero{
    opacity:0;
}




#noalignbox {
    background-color: #212121;
    margin-bottom:-55px;
    min-height:500px;
    margin-top:3.5%;
}




.bbg {
    background-color: #0a0a0a;
}
.full1 {
    height: 970px;
    width: 1920px;
}
.full{
    height:100%;
    width:100%;
}

.bbdr {
    border: 2px solid black;
}
.test {
     border:2px solid red;
}

.test1 {
    border: 2px solid blue;
}
.c-img {
    max-height: 50%;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.round {
    float: right;
    width: 20%;
    margin-right: 5%;
    margin-top: -18%;
}

.round-ldr {
    border: 2px solid green;
    padding-bottom: 25%;
    margin: 0 auto;
    border-radius: 50%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.round-ldr1 {
    border-radius: 50%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.round0 {
    float: right;
    border: 2px solid green;
    width: 50%;
    padding-bottom: 50%;
    margin-right: 4.5%;
}

.round00 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.round1 {
    float: left;
    border: 2px solid green;
    width: 50%;
    padding-bottom: 50%;
    margin-left: 4.5%;
}
.round11 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mini {
    background-color: #212121;
    width: 70%;
    min-height: 500px;
    margin-top: 3.25%;
    margin-bottom: -125px;
    margin-left:-2px;

}
.micro {
    background-color: gray;
    width: 25%;
    min-height: 450px;
    margin-top: 100px;
    margin-bottom: -125px;
}

.hgt500 {
    min-height: 500px;
}

.ldr{
    margin-top: 65px;
}

.ctrTXT {
    text-align:center;
}
.tt2 {
    color:white;
}
.mnr {
    margin-top: 20px;
}
.s2{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.s3 {
    width:75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.ctrDIV {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 25%;
}
.mini1{
    width:70%;

}